body {
  background-color: gray;
}
section {
  height: 450px;
}

.picture {
  float: none;
  margin-top: 2%;
  text-align: start;
}
heading {
  float: none;
  display: block;
  background-color: gray;
  
}
.skil {
  border: none;
  margin-left: 2%;
  text-align: center;
  color: blue;
  border-bottom: 1px solid black;
}
.foot {
  background-color: black;
  color: white;
}
.rbok{
    color:blue;
    margin-left:2%;
    
    
}
.fbook{
    margin-left:2%;
}
.fav{
    font-size:20px;
    margin-left:2%;
    margin-bottom:0px;
    padding-bottom:0px;
    line-height:.5;
}
ol li{
    display:block;
    line-height:.1;
    list-style-type: number;
    text-transform:capitalize;
}